---
import { githubReposUrl } from '@/data/github';
import PageLayout from '@/layouts/Page/index.astro';
import ProjectCard from '@/components/Cards/Project/index.astro';
import type { DataRepository } from '@/types/index';
import { useFetch } from '@/utils/index';

let repositories: DataRepository[] | null;
try {
	const request = await useFetch({ url: githubReposUrl, params: 'sort=created&direction=desc&per_page=30' })
	if (request.data.message) {
		throw 'api rate limit exceeded';
	}
	repositories = request.data;
} catch {
	repositories = null;
}
---

<PageLayout
	seo={{
		description: 'discover all my github open source projects (slowl)',
		title: 'projects'
	}}
	title='projects'
>
	<div class='cards-container'>
		{repositories && repositories.map((repository) => (
			<ProjectCard
				createdAt={repository.created_at}
				description={repository.description}
				name={repository.name}
				githubUrl={repository.html_url}
				language={repository.language}
				name={repository.name}
				websiteUrl={repository.homepage}
			/>
		))}
	</div>
</PageLayout>

<style>
	.cards-container {
		display: flex;
		justify-content: center;
		gap: var(--size-xxl) var(--size-xl);
		flex-wrap: wrap;

		@media screen and (max-width: 40.625rem) {
			gap: 2rem 0;
		};
	}
</style>
